# Data Mining (2CSDE71)
## Name :- Harsh Pansuriya
## Roll No. :- 21BCE176
## Date :- 2nd February, 2024
## Prac. No :- 3

> Identify and implement any three methods to fill the missing values indicated by’?’ in the given data set or on the dataset identified in Practical 1. (Analysis of the best method with reasoning)

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {'Name': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
        'Value': [45, 37, 59, '?', 47, 39, '?', 43, 52, '?']}
df = pd.DataFrame(data)

In [3]:
print(df)

  Name Value
0    A    45
1    B    37
2    C    59
3    D     ?
4    E    47
5    F    39
6    G     ?
7    H    43
8    I    52
9    J     ?

1. Remove the missing value data

In [4]:
# Convert 'Value' column to numeric, ignoring errors to handle '?'
df['Value'] = pd.to_numeric(df['Value'], errors='coerce')

# Drop rows with missing values
df_cleaned = df.dropna()

print("DataFrame after removing missing values:")
print(df_cleaned)

DataFrame after removing missing values:
  Name  Value
0    A   45.0
1    B   37.0
2    C   59.0
4    E   47.0
5    F   39.0
7    H   43.0
8    I   52.0

2. Fill missing value with mean

In [5]:
mean_value = df['Value'].mean()
mean_filled_df = df.copy()
mean_filled_df['Value'].fillna(mean_value, inplace=True)
print(f'Mean value is : {mean_value}')
print("DataFrame after imputation with mean:")
print(mean_filled_df)

Mean value is : 46.0
DataFrame after imputation with mean:
  Name  Value
0    A   45.0
1    B   37.0
2    C   59.0
3    D   46.0
4    E   47.0
5    F   39.0
6    G   46.0
7    H   43.0
8    I   52.0
9    J   46.0

3. Fill missing value with median

In [6]:
median_value = df['Value'].median()
median_filled_df = df.copy()
median_filled_df['Value'].fillna(median_value, inplace=True)
print(f'Median value is : {median_value}')
print("DataFrame after imputation with median:")
print(median_filled_df)

Median value is : 45.0
DataFrame after imputation with median:
  Name  Value
0    A   45.0
1    B   37.0
2    C   59.0
3    D   45.0
4    E   47.0
5    F   39.0
6    G   45.0
7    H   43.0
8    I   52.0
9    J   45.0

4. Fill missing value with mode

In [7]:
mode_value = df['Value'].mode().iloc[0]
mode_filled_df = df.copy()
mode_filled_df['Value'].fillna(mode_value, inplace=True)
print(f'Mode value is: {mode_value}')
print("DataFrame after imputation with mode:")
print(mode_filled_df)

Mode value is: 37.0
DataFrame after imputation with mode:
  Name  Value
0    A   45.0
1    B   37.0
2    C   59.0
3    D   37.0
4    E   47.0
5    F   39.0
6    G   37.0
7    H   43.0
8    I   52.0
9    J   37.0

In [8]:
group_size = 5
# making a new column of group index 
df['Group_Index'] = (df.index // group_size) + 1

5. Fill the missing value with mean of a group

In [9]:
# Function to fill missing values with group mean
def fill_group_mean(group_df):
    group_df['Value'].fillna(group_df['Value'].mean(), inplace=True)
    return group_df
    
# Apply the group-wise filling functions
df_filled_group_mean = df.groupby('Group_Index', as_index=False).apply(fill_group_mean)

# Drop the temporary 'Group_Index' column
df_filled_group_mean.drop('Group_Index', axis=1, inplace=True)

# Print DataFrames after imputation
print("DataFrame after imputation with group mean:")
print(df_filled_group_mean)

DataFrame after imputation with group mean:
    Name      Value
0 0    A  45.000000
  1    B  37.000000
  2    C  59.000000
  3    D  47.000000
  4    E  47.000000
1 5    F  39.000000
  6    G  44.666667
  7    H  43.000000
  8    I  52.000000
  9    J  44.666667

6. Fill the missing value with median of a group

In [10]:
# Function to fill missing values with group median
def fill_group_median(group_df):
    group_df['Value'].fillna(group_df['Value'].median(), inplace=True)
    return group_df

# Apply the group-wise filling functions
df_filled_group_median = df.groupby('Group_Index', as_index=False).apply(fill_group_median)

# Drop the temporary 'Group_Index' column
df_filled_group_median.drop('Group_Index', axis=1, inplace=True)

# Print DataFrames after imputation
print("\nDataFrame after imputation with group median:")
print(df_filled_group_median)

DataFrame after imputation with group median:
    Name  Value
0 0    A   45.0
  1    B   37.0
  2    C   59.0
  3    D   46.0
  4    E   47.0
1 5    F   39.0
  6    G   43.0
  7    H   43.0
  8    I   52.0
  9    J   43.0

7. Fill the missing value with mode of a group

In [11]:
# Function to fill missing values with group mode
def fill_group_mode(group_df):
    group_df['Value'].fillna(group_df['Value'].mode().iloc[0], inplace=True)
    return group_df

# Apply the group-wise filling functions
df_filled_group_mode = df.groupby('Group_Index', as_index=False).apply(fill_group_mode)

# Drop the temporary 'Group_Index' column
df_filled_group_mode.drop('Group_Index', axis=1, inplace=True)

# Print DataFrames after imputation
print("\nDataFrame after imputation with group mode:")
print(df_filled_group_mode)

DataFrame after imputation with group mode:
    Name  Value
0 0    A   45.0
  1    B   37.0
  2    C   59.0
  3    D   37.0
  4    E   47.0
1 5    F   39.0
  6    G   39.0
  7    H   43.0
  8    I   52.0
  9    J   39.0

## Now for real world dataset

In [12]:
rw_data = pd.read_csv("/Users/harsh/Documents/DM/Database/hr_ds.csv")

In [13]:
# Select the specified columns
selected_columns = ["Salary", "EngagementSurvey", "Absences"]
selected_data = rw_data[selected_columns]

# Rename the 'EngagementSurvey' column to 'EngagementScore'
selected_data = selected_data.rename(columns={'EngagementSurvey': 'EngagementScore'})

selected_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Salary           311 non-null    int64
 1   EngagementScore  311 non-null    float64
 2   Absences         311 non-null    int64
dtypes: float64(1), int64(2)
memory usage: 7.4 KB

In [14]:
# Introduce missing values (NaN) randomly
selected_data_with_missing = selected_data.mask(np.random.random(selected_data.shape) < 0.1)

# Check information about missing values
print("\nInformation about missing values:")
selected_data_with_missing.info()

Information about missing values:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Salary           276 non-null    float64
 1   EngagementScore  277 non-null    float64
 2   Absences         275 non-null    float64
dtypes: float64(3)
memory usage: 7.4 KB

1. Remove the missing value data

In [15]:
# Convert selected_data_with_missing to numeric, ignoring errors to handle NaN
selected_data_with_missing = selected_data_with_missing.apply(pd.to_numeric, errors='coerce')

# Drop rows with missing values
selected_data_cleaned = selected_data_with_missing.dropna()

print("DataFrame after removing missing values:")
print(selected_data_cleaned)

DataFrame after removing missing values:
       Salary  EngagementScore  Absences
0     62506.0             4.60       1.0
2     64955.0             3.02       3.0
3     64991.0             4.84      15.0
4     50825.0             5.00       2.0
6     95660.0             3.04      19.0
..        ...              ...       ...
301   55140.0             5.00       7.0
302   58062.0             3.60       9.0
304   70507.0             5.00       7.0
308  220450.0             4.60      16.0
309   89292.0             5.00      11.0

[215 rows x 3 columns]

2. Fill missing value with mean

In [16]:
# Calculate the mean for each column
mean_values = selected_data_with_missing.mean()

# Create a copy of the DataFrame
mean_filled_data = selected_data_with_missing.copy()

# Iterate through columns and fill missing values with corresponding mean
for column in mean_values.index:
    mean_filled_data[column].fillna(mean_values[column], inplace=True)

# Print mean values and DataFrame after imputation
print(f'Mean values are:\n{mean_values}')
print("\nDataFrame after imputation with mean:")
print(mean_filled_data)

Mean values are:
Salary             68821.608696
EngagementScore        4.087617
Absences              10.083636
dtype: float64

DataFrame after imputation with mean:
            Salary  EngagementScore   Absences
0     62506.000000             4.60   1.000000
1    104437.000000             4.96  10.083636
2     64955.000000             3.02   3.000000
3     64991.000000             4.84  15.000000
4     50825.000000             5.00   2.000000
..             ...              ...        ...
306   65893.000000             4.07  10.083636
307   68821.608696             3.20   4.000000
308  220450.000000             4.60  16.000000
309   89292.000000             5.00  11.000000
310   68821.608696             4.50   2.000000

[311 rows x 3 columns]

3. Fill missing value with median

In [17]:
# Calculate the median for each column
median_values = selected_data_with_missing.median()

# Create a copy of the DataFrame
median_filled_data = selected_data_with_missing.copy()

# Iterate through columns and fill missing values with corresponding median
for column in median_values.index:
    median_filled_data[column].fillna(median_values[column], inplace=True)

# Print median values and DataFrame after imputation
print(f'Median values are:\n{median_values}')
print("\nDataFrame after imputation with median:")
print(median_filled_data)

Median values are:
Salary             62586.50
EngagementScore        4.25
Absences              10.00
dtype: float64

DataFrame after imputation with median:
       Salary  EngagementScore  Absences
0     62506.0             4.60       1.0
1    104437.0             4.96      10.0
2     64955.0             3.02       3.0
3     64991.0             4.84      15.0
4     50825.0             5.00       2.0
..        ...              ...       ...
306   65893.0             4.07      10.0
307   62586.5             3.20       4.0
308  220450.0             4.60      16.0
309   89292.0             5.00      11.0
310   62586.5             4.50       2.0

[311 rows x 3 columns]

4. Fill missing value with mode

In [18]:
# Calculate the mode for each column
mode_values = selected_data_with_missing.mode().iloc[0]

# Create a copy of the DataFrame
mode_filled_data = selected_data_with_missing.copy()

# Iterate through columns and fill missing values with corresponding mode
for column in mode_values.index:
    mode_filled_data[column].fillna(mode_values[column], inplace=True)

# Print mode values and DataFrame after imputation
print(f'Mode values are:\n{mode_values}')
print("\nDataFrame after imputation with mode:")
print(mode_filled_data)

Mode values are:
Salary             57815.0
EngagementScore        5.0
Absences               4.0
Name: 0, dtype: float64

DataFrame after imputation with mode:
       Salary  EngagementScore  Absences
0     62506.0             4.60       1.0
1    104437.0             4.96       4.0
2     64955.0             3.02       3.0
3     64991.0             4.84      15.0
4     50825.0             5.00       2.0
..        ...              ...       ...
306   65893.0             4.07       4.0
307   57815.0             3.20       4.0
308  220450.0             4.60      16.0
309   89292.0             5.00      11.0
310   57815.0             4.50       2.0

[311 rows x 3 columns]

5. Fill the missing value with mean of a group

In [20]:
# Assuming selected_data_with_missing is your DataFrame
group_size = 7

# Making a new column of group index
selected_data_with_missing['Group_Index'] = (selected_data_with_missing.index // group_size) + 1

# Identify numeric columns
numeric_columns = selected_data_with_missing.select_dtypes(include=['number']).columns

# Function to fill missing values with group mean
def fill_group_mean(group_df, numeric_columns):
    group_df[numeric_columns] = group_df[numeric_columns].apply(lambda x: x.fillna(x.mean()))
    return group_df

# Apply the group-wise filling functions
selected_data_filled_group_mean = selected_data_with_missing.groupby('Group_Index', as_index=False).apply(lambda x: fill_group_mean(x, numeric_columns))

# Drop the temporary 'Group_Index' column
selected_data_filled_group_mean.drop('Group_Index', axis=1, inplace=True)

# Print DataFrame after imputation with group mean
print("DataFrame after imputation with group mean:")
print(selected_data_filled_group_mean)

DataFrame after imputation with group mean:
               Salary  EngagementScore   Absences
0  0     62506.000000             4.60   1.000000
   1    104437.000000             4.96   9.166667
   2     64955.000000             3.02   3.000000
   3     64991.000000             4.84  15.000000
   4     50825.000000             5.00   2.000000
...               ...              ...        ...
43 306   65893.000000             4.07   9.500000
   307   61629.333333             3.20   4.000000
44 308  220450.000000             4.60  16.000000
   309   89292.000000             5.00  11.000000
   310  154871.000000             4.50   2.000000

[311 rows x 3 columns]

6. Fill the missing value with median of a group

In [21]:
# Assuming selected_data_with_missing is your DataFrame
group_size = 7

# Making a new column of group index
selected_data_with_missing['Group_Index'] = (selected_data_with_missing.index // group_size) + 1

# Function to fill missing values with group median
def fill_group_median(group_df, column_name):
    group_df[column_name].fillna(group_df[column_name].median(), inplace=True)
    return group_df

# Apply the group-wise filling functions for each column
for column in selected_data_with_missing.columns:
    selected_data_with_missing = selected_data_with_missing.groupby('Group_Index', as_index=False).apply(lambda x: fill_group_median(x, column))

# Drop the temporary 'Group_Index' column
selected_data_with_missing.drop('Group_Index', axis=1, inplace=True)

# Print DataFrame after imputation with group median
print("DataFrame after imputation with group median:")
print(selected_data_with_missing)

DataFrame after imputation with group median:
                   Salary  EngagementScore  Absences
0  0  0  0  0     62506.0             4.60       1.0
            1    104437.0             4.96       9.0
            2     64955.0             3.02       3.0
            3     64991.0             4.84      15.0
            4     50825.0             5.00       2.0
...                   ...              ...       ...
43 43 43 43 306   65893.0             4.07       8.0
            307   60087.0             3.20       4.0
44 44 44 44 308  220450.0             4.60      16.0
            309   89292.0             5.00      11.0
            310  154871.0             4.50       2.0

[311 rows x 3 columns]

7. Fill the missing value with mode of a group

In [23]:
# Assuming selected_data_with_missing is your DataFrame
group_size = 7

# Making a new column of group index
selected_data_with_missing['Group_Index'] = (selected_data_with_missing.groupby(level=0).cumcount() // group_size) + 1

# Identify categorical columns
categorical_columns = selected_data_with_missing.select_dtypes(include=['object']).columns

# Function to fill missing values with group mode
def fill_group_mode(group_df, categorical_columns):
    group_df[categorical_columns] = group_df[categorical_columns].apply(lambda x: x.fillna(x.mode().iloc[0]))
    return group_df

# Apply the group-wise filling functions
selected_data_filled_group_mode = selected_data_with_missing.groupby('Group_Index', as_index=False).apply(lambda x: fill_group_mode(x, categorical_columns))

# Drop the temporary 'Group_Index' column
selected_data_filled_group_mode.drop('Group_Index', axis=1, inplace=True)

# Print DataFrame after imputation with group mode
print("DataFrame after imputation with group mode:")
print(selected_data_filled_group_mode)

DataFrame after imputation with group mode:
                     Salary  EngagementScore  Absences
0 0  0  0  0  0     62506.0             4.60       1.0
              1    104437.0             4.96       9.0
              2     64955.0             3.02       3.0
              3     64991.0             4.84      15.0
              4     50825.0             5.00       2.0
...                     ...              ...       ...
  43 43 43 43 306   65893.0             4.07       8.0
              307   60087.0             3.20       4.0
  44 44 44 44 308  220450.0             4.60      16.0
              309   89292.0             5.00      11.0
              310  154871.0             4.50       2.0

[311 rows x 3 columns]